.App {
    font-family: 'Sofia Sans', sans-serif;
    min-height: 100vh;
}

.Main {
    padding-top: 10%;
}

* {
    box-sizing: border-box;
  }

  /* code institute code from video */
.FillerImage {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

.inlineForm {
    max-width: 300px;
}